
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body input {
    outline: none;
}
body button {
    outline: none;
}
.img-resp {
    height: 100%;
}
.t-align {
    text-align: center;
}
/*MEDIA*/
@media screen and (device-width: 1024px){
    .bc {margin: 0 15%;}
}
@media screen and (min-device-width: 1280px){
    .bc {margin: 0 15%;}
}
@media screen and (min-device-width: 1600px){
    .bc {margin: 0 15%;}
}
/*--------------------------------------------HEADER---------------------------------*/
header {
    background: url(../img/background.png) no-repeat;
    background-size: 100%;
    height: 865px;
}
/*---------------HEADER MENU------------------*/
.head-menu {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.head-menu div {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    margin-top: 25%;
    margin-bottom: 25%;
}
.head-menu div:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.head-menu div:nth-child(2) {
    grid-column-start: 3;
}
.bt-lg {
    background: #4ca3e6;
    border-radius: 10px;
    border-style: none;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;

}
.bt-lg:hover {
    background: #2885e5;
}
.line {
    display: grid;
    grid-template-rows: 250px;
    border-top: white 1px solid;
}
.logo-img {
    width: 100%;
}
/*--------------HEADER H1 + BUTTON-------------*/
.head-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    color: white;
    font-size: 26px;
}
.head-title h2 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.bt-gs {
    background: #ffffff;
    border-radius: 10px;
    border-style: none;
    padding: 1.6% 3%;
    margin: 1%;
    font-size: 20px;
    color: #3e3e3e;
}
.bt-gs img {
    vertical-align: middle;
    margin-right:5px;
}
.bt-lm {
    background: #53a0db;
    border-radius: 10px;
    border-style: none;
    padding: 2% 5%;
    margin: 1%;
    font-size: 20px;
    color: white;
}
.bt-lm:hover {
    background: #2885e5;
    transform: scale(1.1);
    transition: transform .2s;
}
.bt-gs:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
/*-------------------------------------HEADER END------------------------------------------*/

/*--------------------------------------Servisec container---------------------------------*/

.s-cont {
    color: #7c7c7c;
    text-align: center;
}
.s-cont h2 {
    color: #494949;
}
.s-cont h3 {
    color: #494949;
}

/*----------------------Items-----------------------*/
.services {
    display: grid;
    font-size: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 100px;
    padding: 5% 10%;
}
.s-line {
    border-top: #2eb0ec 2px solid;
    width: 15%;
    margin-left: 43%;
    margin-right: 43%;
}

.services :nth-child(1) {
    grid-column-start: 2;
}
.services :nth-child(2) {
    grid-column-start: 1;
}

/*-------------------------------------Feature container------------------------------------*/

.f-cont {
    background: url(../img/background-2.png) no-repeat;
    background-size: 100%;
    height: 720px;
    color: #7c7c7c;
}
.f-cont h2 {
    color: #5a5b5b;
}
/*-------------контент-----*/
.f-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10% 10%;
}
.f-cont div:nth-child(1) {
    grid-column-start: 2;
}
/*-------список----------*/
.f-content img {
    vertical-align: middle;
}
.f-span {
    font-size: 14px;
    margin: 10% 0;
}

/*-------------кнопка----------*/
.bt-rm {
    background: #66d4f4;
    border-radius: 25px;
    border-style: none;
    margin: 1% 0;
    padding: 3% 5%;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}
.bt-rm:hover {
    background: #2885e5;
    transform: scale(1.1);
    transition: transform .2s;
}


/*--------------------------------------Feature container END-----------------------------*/


/*---------------------------------Other servisec container--------------------------------*/
.o-cont {
    color: #7c7c7c;
}
.o-cont h2 {
    color: #494949;
    text-transform: uppercase;
}
.o-cont h3 {
    color: #494949;
    font-size: 18px;
}
.o-content {
    display: grid;
    font-size: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 100px;
    padding: 5% 10%;
}
.o-content p {
    font-size: 14px;
}
.o-title {
    grid-column-start: 2;
}
.o-first {
    grid-column-start: 1;
}

.o-indiv {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

/*---------------------------------Other servisec container END--------------------------------*/
.aress {
    background: url(../img/background-3.png) no-repeat;
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.aress div {
    outline:none;
}
.l-line {
    border-top: #2eb0ec 2px solid;
    width: 2%;
    margin-left: 49%;
}
.tile {
    margin: 5% 0;
}

.gleb {
    margin: 0 auto;
    width: 800px;
    height: 320px;
}
.author {
    position: absolute;
    left: 40%;
    top: -13%
}
.inside{
    position: relative;
    z-index: 99;
    margin:5% auto;
    width: 60%;
    text-align: center;
    border: #7c7c7c 1px solid;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    padding:6%;
    background: white;
}
.kek {
    line-height: 6px;
    padding:4%;
}
.inside p {
    line-height: normal;
    padding:4%;
}
.rel {
    position: relative;
}

.slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    top:inherit;
    bottom: -38%;
    position: absolute;
    font-size: 24px;
    color: black;
}

.slick-next {
    right: 30%;
}
.slick-prev {
    left: 30%;
}
.slick-next:before,
.slick-prev:before {
    content: none;
}
.slick-next:focus,
.slick-prev:focus,
.slick-next:hover,
.slick-prev:hover {
    color: #9ea1a1;
}


/*------------------------------Feel free to download now------------------------------------/--------*/

.cont-feel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    padding: 10% 10%;
    color: #7c7c7c;
}
.cont-feel h1 {
    color: #494949;
}

/*--------------------------Feel END-----------------------------------------*/

.cont-back-idea {
    padding: 5% 15%;
    background: url("../img/background-idea.png") no-repeat;
    text-align: center;
}

.idea-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
}
.idea-item:hover {
    transform: scale(1.01);
    transition: transform .2s;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);

}
.idea-item {
    padding: 15px 30px;
    border-radius: 10px;
    background: url("../img/back-item-idea.png") no-repeat;
}
.idea-items div:first-child {
    grid-column-start: 2;
}
.idea-items div:nth-child(2) {
    grid-column-start: 1;
}
.price {
    font-size:35px;
    color: #4bd1f2;
    margin: 5% 15% 15% 15%;
}
.price b{
    font-size: 60px;
}
.idea-item p{
    color: #6c6c6c;
}
.idea-item p span {
    color:#bebebe;
}
.idea-item img{
    margin:20% 20% 0 20%;
}
.sign-up:hover {
    transform: scale(1.1);
    transition: transform .2s;

}
.sign-up {
    background: #66d4f4;
    border-radius: 30px;
    border-style: none;
    padding: 6% 15%;
    margin:10% 0;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.i-line {
    border-top: #2eb0ec 2px solid;
    width: 10%;
    margin-left: 45%;
}


/*--------------------------------------------------idea end---------------------------*/

.subscribe h2{
    color:#494949;
    text-transform: uppercase;
}
.subscribe p{
    margin: 5% 0;
}
.subscribe div:first-child {
    grid-column-start: 2;
    margin: 10%;
}
.sub-line {
    border-top: #2eb0ec 2px solid;
    width: 6%;
    margin: 0 0 15% 47%;
}
.subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #969696;
}

.sub-input {
    background: #f5fafa;
    border-radius: 45px;
    text-align: center;
    padding: 3% 4%;
    border-style: none;
}

.sub-input:focus,
.sub-input:hover {
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 45px;
    text-align: center;
    padding: 3% 4%;
    border-style: none;
    transform: scale(1.05);
    transition: transform .1s;
}
.sub-bt:hover {
    transform: scale(1.1);
    transition: transform .1s;
}
.sub-bt {
    background: #66d4f4;
    box-shadow: 0 0 25px rgba(102, 212, 244, 0.5);
    border-radius: 45px;
    text-align: center;
    padding: 3% 30%;
    border-style: none;
    text-transform: uppercase;
    color: #fff;
}

/*----------------------------------------------idea end--------------*/


/*----------------------------footer--------------------------*/

footer {
    padding: 0 5%;
}

.foot-line {
    border-bottom: 1px solid #9ea1a1;
    width: 100%;
    margin: 5% 0;
}
.foot-line2 {
    border-bottom: 1px solid #9ea1a1;
    width: 100%;
    margin: 5% 0 1% 0;
}

.footer-class div:nth-child(2){
    grid-column-start: 3;
}
.footer-class a:hover{
    text-decoration: underline;
    color:#3e3e3e;
}
.footer-class span{
    font-weight: bold;
    font-size:20px;
    color:#494949;
}
.footer-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color:#b0b0b0;
    font-size:14px;
}









